# AutoBlogs Environment Variable Template
# Copy this file to `.env` and fill your values, or
# Supply the values from system environment variables

LLM_PROVIDER = "LOCAL"
LLM_MODEL_NAME = "awesome-model"
LLM_MODEL_APIKEY = "abc-example.com"
LLM_API_BASE_URL = "https://example.com/api/v1"

# Set the Model Parameters for Control & Optimization
MAX_TOKENS = 4096
TEMPERATURE = 0.7

# Set the I/O Directory for File
CONTENT_OUTPUT_DIR = "output"
AGENT_PROMPT_CONTEXT = "base.txt.jinja"
